*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Outfit',sans-serif;
    background:#16181D;
    color:white;
    overflow-x:hidden;
    transition: all 0.4s ease;
}
/* tema claro*/

body.light-mode{
    background:#F3EFE8;
    color:#2A2A2A;
}

body.light-mode .navbar{
    background:rgba(255,255,255,0.85);
    backdrop-filter:blur(12px);
    box-shadow:
        0 5px 20px rgba(0,0,0,0.05),
        0 1px 0 rgba(185,118,79,0.15)
}

body.light-mode h1,
body.light-mode h2,
body.light-mode h3,
body.light-mode .logo-text{
    color:#845033;
}

/* conhecer solucao*/
body.light-mode .btn-guara-outline{
    color: #6b3f24 !important;
    border: 2px solid #B9764F !important;
    background: rgba(255,255,255,0.7) !important;
    border-radius: 50px !important;

    box-shadow: 0 0 10px rgba(185,188,79,0.15),
    0 0 20px rgba(185,118,79,0.08);
}
body.light-mode .btn-guara-outline:hover{
    background:#B9764F !important;
    color:white !important;

    box-shadow:
        0 0 15px rgba(185,118,79,0.30),
        0 0 30px rgba(185,118,79,0.15);

    transform:translateY(-2px);
}
body.light-mode .nav-link{
    color: #845033 !important;
}
body.light-mode .nav-link:hover{
    color: #B9764F !important
}
body.light-mode .navbar-toggler{
    border-color: rgba(132,80,51,0.3);
}
body.light-mode .navbar-toggler-icon{
    filter: invert(1) brightness(0.3);
}

body.light-mode .card-guara,
body.light-mode .solution-card{
    background:rgba(255,255,255,0.7);
    border:1px solid #B9764F;
}

body.light-mode p{
    color:#4A4A4A;
}

/* marca dagua */

body::after{

    content:'';

    position:fixed;

    right:-180px;
    top:50%;

    transform:translateY(-50%);

    width:700px;
    height:700px;

    background-image:url('images/logo1metodo-guara.png');

    background-repeat:no-repeat;
    background-size:contain;

    opacity:.03;

    pointer-events:none;

    z-index:-1;
}

/* NAVBAR */

.navbar{

    width:88%;
    margin:20px auto;

    border-radius:18px;

    background:rgba(255,255,255,.03);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    padding:18px 35px;

    box-shadow:0 0 30px rgba(0,0,0,.25);
}

.navbar-brand{

    color:#D59977 !important;

    font-size:1.8rem;

    font-weight:800;

    letter-spacing:2px;

    text-shadow:
    0 0 10px rgba(213,153,119,.7),
    0 0 30px rgba(213,153,119,.4);
}

.nav-link{

    color:white !important;

    margin-left:15px;

    transition:.3s;
}

.nav-link:hover{

    color:#B9764F !important;
}

/* HERO */

.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    justify-content:center;

    text-align:center;

    padding-top:120px;
}

.logo-container{

    position:relative;

    display:inline-block;
}

.logo-container::before{

    content:'';

    position:absolute;

    width:500px;
    height:500px;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    background:#B9764F;

    border-radius:50%;

    filter:blur(150px);

    opacity:.30;

    z-index:-1;
}

.hero-logo{

    width:350px;

    max-width:90%;

    margin-bottom:40px;

    transition:.4s;
}

.hero h1{

    font-size:5.5rem;

    font-weight:800;

    letter-spacing:3px;

    color:white;

    text-shadow:
    0 0 15px rgba(213,153,119,.25),
    0 0 35px rgba(213,153,119,.15);
}

.hero h2{

    font-size:3rem;

    font-weight:300;

    margin-bottom:25px;
}

.hero h2 span{

    color:#B9764F;

    font-weight:700;
}

.hero p{

    max-width:700px;

    margin:0 auto 40px auto;

    color:#cfcfcf;

    font-size:1.2rem;

    line-height:1.8;
}

/* BOTÕES */

.btn-guara{

    background:#B9764F;

    color:white;

    border:none;

    border-radius:15px;

    padding:15px 35px;

    font-weight:600;

    box-shadow:0 0 20px rgba(185,118,79,.35);

    transition:.4s;
}

.btn-guara:hover{

    transform:translateY(-4px);

    box-shadow:0 0 35px rgba(185,118,79,.7);
}

.btn-guara-outline{

    padding: 15px 35px;
    border-radius: 50px;
    border:2px solid #d59b77;
    color:white;
    background:transparent;
    transition: 0.4s;
}

.btn-guara-outline:hover{

    background:#B9764F;
    color:white;
    box-shadow: 0 0 15px rgba(185,118,79,0.35),
    0 0 30px rgba(185, 118,79, 0.25),
    0 0 45px rgba(185,118,79,0.15);
}

/* SEÇÕES */

.secao{

    padding:120px 0;

    text-align:center;
}

.secao h3{

    font-size:3rem;

    color:#D59977;

    margin-bottom:40px;
}

.secao p{

    max-width:900px;

    margin:auto;

    color:#d0d0d0;
}

/* CARDS */

.card-guara{

    background:rgba(255,255,255,.03);

    backdrop-filter:blur(12px);

    border:1px solid rgba(213,153,119,.25);

    border-radius:25px;

    padding:40px;

    height:100%;

    transition:.4s;
}

.card-guara:hover{

    transform:translateY(-10px);

    border-color:#D59977;

    box-shadow:0 0 30px rgba(185,118,79,.15);
}

.card-guara h4{

    color:#D59977;

    margin-bottom:15px;
}

/* FOOTER */

footer{

    margin-top:100px;

    padding:80px 0;

    border-top:1px solid rgba(213,153,119,.15);
}

.logo-footer{

    font-size:2.8rem;

    letter-spacing:14px;

    font-weight:200;

    color:#D59977;

    line-height:1.2;

    animation:brilho 4s infinite;
}

.slogan-footer{

    color:#B9764F;

    font-size:1.4rem;

    font-weight:600;
}

@keyframes brilho{

    0%{
        text-shadow:0 0 5px rgba(213,153,119,.2);
    }

    50%{
        text-shadow:
        0 0 15px rgba(213,153,119,.6),
        0 0 25px rgba(213,153,119,.4);
    }

    100%{
        text-shadow:0 0 5px rgba(213,153,119,.2);
    }
}

/* TIMELINE GUARÁ */

.timeline-guara{

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:60px;

    margin-top:80px;

    flex-wrap:wrap;
}

.linha-guara{

    position:absolute;

    top:35px;

    left:10%;

    width:80%;

    height:3px;

    background:linear-gradient(
        90deg,
        #845033,
        #B9764F,
        #D59977
    );

    box-shadow:
        0 0 15px rgba(185,118,79,.6);

    z-index:0;
}

.etapa{

    position:relative;

    z-index:1;

    text-align:center;
}

.circulo-guara{

    width:70px;

    height:70px;

    border-radius:50%;

    background:#06070A;

    border:2px solid #B9764F;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:1.5rem;

    font-weight:700;

    color:#D59977;

    margin:auto;

    box-shadow:
        0 0 15px rgba(185,118,79,.5),
        0 0 30px rgba(185,118,79,.3);

    transition:.4s;
}

/*circulo tema claro*/
body.light-mode .circulo-guara{
    background: #FDFBF8;
    color: #B9764F;
    border: 2px solid #B9764F;

    box-shadow:
        0 0 15px rgba(185,118,79,.25),
        0 0 30px rgba(185,118,79,.15);
}


.circulo-guara:hover{

    transform:scale(1.1);

    box-shadow:
        0 0 25px rgba(213,153,119,.8),
        0 0 50px rgba(213,153,119,.4);
}

.etapa h5{

    margin-top:15px;

    color:white;

    font-weight:600;
}

/* DIAGNÓSTICO */

#resultadoGuara{

    text-align:center;

    padding-top:30px;
}

#resultadoGuara h2{

    color:#D59977;

    font-size:3rem;

    margin-bottom:10px;
}

#resultadoGuara h3{

    color:#B9764F;

    margin-bottom:20px;
}

.guara-check{

    transform:scale(1.3);

    margin-right:10px;
}
.theme-btn{
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(185,118,79,0.4);
    color: #D59977;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

.theme-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(213,153,119,0.4);
}
body.light-mode .hero-logo{
    width:350px;
}
/* ==========================
   TEXTO TEMA CLARO
========================== */

body.light-mode h1{
    color:#6B3F28 !important;
}

body.light-mode h2,
body.light-mode h3,
body.light-mode h4,
body.light-mode h5{
    color:#7A4A2D !important;
}

body.light-mode p{
    color:#5A4A42 !important;
}

body.light-mode span{
    color:#7A4A2D !important;
}

#perguntaGuara{
    width:100%;
    padding:15px;
    border-radius:15px;
    border:1px solid #B9764F;
    background:transparent;
    color:inherit;
    resize:none;
}

.resposta-guara{
    margin-top:20px;
    padding:20px;
    border-radius:15px;
    border:1px solid #B9764F;
    min-height:120px;
    white-space:pre-wrap;
}

.resposta-guara {
    width: 80%;
    max-width: 900px;
    min-height: 180px;

    margin: 20px auto;

    padding: 20px;

    background: #1f1f1f;

    border: 2px solid #ff9f5a;

    border-radius: 20px;

    color: white;

    text-align: left;

    line-height: 1.7;

    white-space: pre-wrap;

    box-shadow: 0 0 15px rgba(255, 159, 90, 0.2);

    overflow-y: auto;
}

body.light-mode .resposta-guara {
    background: #ffffff;
    color: #333333;
    border: 2px solid #B9764F;
}

body.light-mode #perguntaGuara {
    background: #ffffff;
    color: #333333;
    border: 2px solid #B9764F;
}

body.light-mode #perguntaGuara::placeholder {
    color: #777777;
}

body.light-mode .resposta-guara {
    box-shadow: 0 0 12px rgba(185, 118, 79, 0.15);
}

body.light-mode #respostaGuara {
    background: white !important;
    color: #333 !important;
    border: 2px solid #B9764F !important;
}

#cliente .card-guara {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

#cliente h4 {
    margin-bottom: 15px;
}

#cliente p {
    margin-bottom: 25px;
    line-height: 1.7;
}

#btnCliente {
    min-width: 250px;
}

.radar-container{

    max-width: 900px;

    width: 100%;

    margin: 40px auto;

    padding: 0 20px;

    text-align: center;

    overflow: hidden;

}

.radar-container img{

    width: 100%;

    max-width: 100%;

    height: auto;

    display: block;

    margin: 0 auto;

    border-radius: 7px;

    transition: .3s;

}

/* modo escuro */

.radar-black{

    display:block !important;
}

.radar-white{

    display:none !important; 

}

/* modo claro */

body.light-mode .radar-black{

    display:none !important;

}

body.light-mode .radar-white{

    display:block !important;

}

/* brilho modo escuro */

body:not(.light-mode) .radar-container img{

    box-shadow:
        0 0 20px rgba(213,153,119,.15),
        0 0 40px rgba(213,153,119,.08);

}

/* sombra modo claro */

body.light-mode .radar-container img{

    box-shadow:
        0 10px 30px rgba(0,0,0,.08);

}

.texto-radar{

    max-width:900px;

    margin:30px auto 0 auto;

    line-height:1.8;

}

.contato-links-footer{

    margin-top:20px;

    display:flex;

    flex-direction:column;

    gap:10px;

}

.contato-links-footer a{

    color:#D59977;

    text-decoration:none;

    transition:.3s;

}

.contato-links-footer a:hover{

    color:white;

}